html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(235, 235, 235) !important;
    background: hsl(0, 7%, 94%) !important;
  }
}
.form-control:focus {
  border-color: #212221 !important;
  box-shadow: 0 0 0 0.2rem rgba(26, 28, 26, 0.25) !important;
}
.iconPointer {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .widthTruncate {
    max-width: 150px;
  }
}
